# Gradle
.gradle/
.gradle-user-home/
build/

# Java compiled files
*.class

# IntelliJ / JetBrains
.idea/
*.iml
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local scripts
*.ps1

all_sources_concatenated.txt

highscores.txt